<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="no.tdt4250.project.pokeDex.design.Activator"
               id="no.tdt4250.project.pokeDex.design"
	       name="pokeDex">
    </component>
  </extension>
</plugin>
